@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/backgroundd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100%;
    position: relative;
}

.blackcover {
    background-color: black;
    opacity: 0.7;
    min-height: 95vh;
    width: 100%;
    position: absolute;
    top: 0;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    width: 80vw;
    height: 90px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
    font-family: "Martel Sans", sans-serif;
}

nav img {
    width: 140px;
}

.hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
    position: relative;
    z-index: 120;
    font-family: "Martel Sans", sans-serif;
}

.hero span:nth-child(1) {
    color: #ffffff;
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    line-height: 1.5;

}

.hero span:nth-child(2) {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.hero span:nth-child(3) {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-align: center;

}

.horizontal-line {
    width: 100%;
    border-top: 4px solid #e50914;

}

.btn {
    padding: 10px 40px;
    cursor: pointer;
}

.sign-btn {
    color: white;
    background-color: red;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 4px;
}

.lang-btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

.hero-btn {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 4px;
    font-size: large;
}

.input-btn {
    font-size: large;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    border: 2px solid rgb(95, 93, 93);
    color: white;
}

.main-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input::placeholder {
    color: white;
    font-weight: bold;
    text-align: center;
}

.slogan {
    padding: 40px;
}

.slogan span:nth-child(1) {
    color: white;
    font-size: x-large;
    text-align: left;
    font-weight: bold;
    background-color: black;
    font-family: "Martel Sans", sans-serif;
}

.section-1 {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    box-sizing: border-box;
    padding: 20px;

}

.section-1 img {
    border-radius: 7px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.card {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    overflow: hidden;

    background: linear-gradient(135deg,
            #1f1633 0%,
            #1a0f2e 40%,
            #140a22 65%,
            #2b0d1a 85%,
            #3a0b14 100%);
}

.card span:nth-child(1) {
    font-size: large;
    font-weight: bold;
    font-family: "Martel Sans", sans-serif;
}

.card span:nth-child(3) {
    font-size: small;
    font-family: "Martel Sans", sans-serif;
    text-align: left;
    overflow: hidden;
    margin-top: 10px;
}

.faq-section {
    /* background-color: aqua; */
    width: 100%;
    /* height: 130px; */

}

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0px auto;
    width: 80vw;
}

.faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgba(150, 145, 145, 0.2);
    width: 80vw;
    font-size: large;
    font-family: "Martel Sans", sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in 0.1ms;
}

.faq:hover {
    background-color: rgba(251, 249, 249, 0.2);
    cursor: pointer;
}

.section-4 {
    text-align: center;
    padding: 70px 20px;

}

.again {
    line-height: 50px;
}

.again span:nth-child(1) {
    font-size: medium;
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    text-align: center;
    font-family: "Martel Sans", sans-serif;
}

.extra {
    padding: 10px 200px;
    cursor: pointer;
}

.grid-ct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80vw;
    margin: 0px auto;
    justify-items: flex-start;
    align-items: start;
    gap: 4px;
}

.section-5 span:nth-child(1) {
    color: rgb(220, 212, 212);
    display: block;
    width: 80vw;
    text-align: left;
    margin: 0px auto;
    padding: 5px;
    font-size: medium;
    font-family: "Martel Sans", sans-serif;
}

.link-collection a {
    color: rgb(216, 211, 211);
    font-family: "Martel Sans", sans-serif;
    font-size: small;
    font-weight: normal;
    letter-spacing: 0.3px;
}

.link-collection {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: start;
    flex-direction: column;
}

@media (max-width: 1260px) {
    .section-1 img {
        /* padding: 0px 40px; */
        width: 150px;
    }

    .section-1 img:nth-child(5) {
        display: none;
    }

    .card span:nth-child(1) {
        font-size: medium;

    }

    .card span:nth-child(2) {
        font-size: x-small;

    }

    .cards div:nth-child(4) {
        display: none;
    }
}

@media (max-width: 575px) {
    .section-1 img {
        /* padding: 0px 40px; */
        width: 150px;
    }

    .section-1 img:nth-child(5) {
        display: none;
    }

    .card span:nth-child(1) {
        font-size: medium;

    }

    .card span:nth-child(2) {
        font-size: small;

    }
}


@media (max-width: 650px) {
    nav img {
        width: 150px;
    }

    .hero span:nth-child(1) {
        font-size: 30px;
        /* line-height: 12px; */
    }

    .nav-bar {
        gap: 5px;
        width: 90vw;
    }

    .main-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    .hero span:nth-child(2) {
        font-size: 15px;
    }

    .hero span:nth-child(3) {
        font-size: 12px;
    }

    .btn {
        padding: 5px 10px;
    }

    .slogan {
        padding: 15px;
        font-size: x-small;
    }

    .section-1 {
        justify-content: space-evenly;
        gap: 10px;
    }

    .section-1 img {
        width: 100px;
    }

    .section-1 img:nth-child(4) {
        display: none;
    }

    .cards div:nth-child(3) {
        display: none;
    }

    .cards div:nth-child(4) {
        display: none;
    }

    .card span:nth-child(1) {

        font-size: smaller;

    }

    .card span:nth-child(2) {
        font-size: xx-small;

    }

    .faq {
        font-size: medium;
        padding: 15px;
    }

    .extra {
        padding: 10px 60px;
        cursor: pointer;
    }

    .again span:nth-child(1) {
        font-size: medium;
    }

    .grid-ct {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 85vw;
    }

    .link-collection a {
        font-size: x-small;
    }

    .link-collection {
        gap: 1px;

    }

    .section-5 span:nth-child(1) {
        font-size: small;
    }
}